*{
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
/* Home*/
.header{
   border-top: 10px;
    background-color: rgb(211, 107, 81);
}
.three-column-grid__expand-two {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    column-gap: 5px;
  }
.expand{
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightcoral;
}